
<div class="row col-12 mx-auto d-flex align-items-center mt-5 mb-5">
  <form class="card container shadow" [formGroup]="hospitalForm">
    <div class="text-center my-2">
      <h2 class="text-black-50 mt-4">Thông tin cá nhân</h2>
    </div>
    <div class="row container">
      <div class="col-4 my-4">
        <div class="card-img" style="border: black solid 1px">
          <img [src]="localUrl" width="100%" height="300px"/>
        </div>
        <div class="file-upload">
          <label>
            <input type="file" (change)="onChangeFile($event)" accept="image/*">
            <span>Chọn tập tin</span>
          </label>
        </div>
      </div>
      <div class="col-8 container">
        <div class="m-2">
          <span>Tên bệnh viện</span>
          <input type="text" class="form-control" placeholder="Hospital name" formControlName="name">
        </div>

        <div class="m-2">
          <span>Email</span>
          <div class="position-relative d-flex align-items-center">
            <input type="email" class="form-control" placeholder="Email" formControlName="email">
          </div>
        </div>

        <div class="m-2">
          <span>Địa chỉ</span>
          <input type="text" class="form-control" placeholder="Address" formControlName="address">
        </div>
        <div class="m-2">
          <span>Số điện thoại</span>
          <input type="text" class="form-control" placeholder="Phone number" formControlName="phone">
        </div>
        <div class="m-2">
          <span>Mô tả</span>
          <input type="text" class="form-control" placeholder="Discription" formControlName="discription">
        </div>
        <div class="m-2">
          <span>Chọn loại bệnh viện</span>
          <div class="container card-group">
            <div *ngFor="let type of hospitalTypes" style="width: 190px" class="m-2">
              <input class="form-check-input" type="checkbox" (change)="updateTypeHospital($event,type.id)" /><span>{{type.name}}</span>
            </div>
          </div>
        </div>
        <div class="text-center m-2">
          <!-- Button trigger modal -->
          <button class="btn btn-primary form-control mt-5 mb-5" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Lưu thông tin</button>
        </div>
      </div>
    </div>
  </form>
</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Tạo mới</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn muốn tạo mới không?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="ngSubmit()">Đồng ý</button>
      </div>
    </div>
  </div>
</div>
