<div class="row col-6 mx-auto d-flex align-items-center" style="height: 100vh;">
  <form class="card container shadow " [formGroup]="changePasswordForm">
    <div class="text-center my-2">
      <h2 class="text-black-50 mt-4">Thay đổi mật khẩu</h2>
    </div>
    <div class="m-2">
      <span>Mật khẩu</span>
      <div class="position-relative d-flex align-items-center">
        <input type="{{showStatus}}" class="form-control" placeholder="Password" formControlName="password" required>
        <a class="position-absolute" style="right: 0; margin-right: 20px; cursor: pointer" (click)="showPassword()" *ngIf="showStatus=='password'">Show</a>
        <a class="position-absolute" style="right: 0; margin-right: 20px; cursor: pointer" (click)="showPassword()" *ngIf="showStatus=='text'">Hide</a>
      </div>
    </div>
    <div class="m-2">
      <span>Nhập mật khẩu mới</span>
      <div class="position-relative d-flex align-items-center">
        <input type="{{showStatus1}}" class="form-control" placeholder="New password" formControlName="newPassword" required>
        <a class="position-absolute" style="right: 0; margin-right: 20px; cursor: pointer" (click)="showPassword1()" *ngIf="showStatus1=='password'">Show</a>
        <a class="position-absolute" style="right: 0; margin-right: 20px; cursor: pointer" (click)="showPassword1()" *ngIf="showStatus1=='text'">Hide</a>
      </div>
    </div>
    <div class="m-2">
      <span>Nhập lại mật khẩu mới</span>
      <div class="position-relative d-flex align-items-center">
        <input type="{{showStatus2}}" class="form-control" placeholder="Re new password" formControlName="reNewPassword" required>
        <a class="position-absolute" style="right: 0; margin-right: 20px; cursor: pointer" (click)="showPassword2()" *ngIf="showStatus2=='password'">Show</a>
        <a class="position-absolute" style="right: 0; margin-right: 20px; cursor: pointer" (click)="showPassword2()" *ngIf="showStatus2=='text'">Hide</a>
      </div>
    </div>
    <div class="text-center m-2">
      <button class="btn btn-primary form-control mb-4" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Cập nhật mật khẩu</button>
    </div>
  </form>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Đổi mật khẩu</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có muốn cập nhật lại mật khẩu?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
        <button type="button" class="btn btn-primary" (click)="ngSubmit()" data-bs-dismiss="modal">Cập nhật</button>
      </div>
    </div>
  </div>
</div>
